Repository softeer5th/team1-dingdong, pull requests merged in 2025-02, with the labels that each got.

#51 [BE] 세션 매니저 구현
  backend/.database/local/README.md
  backend/.database/local/docker-compose.yml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/ddbb/dingdong/DingdongApplication.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/DingdongMoneyChargeHistory.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/DingdongMoneyUsageHistory.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/Wallet.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/vo/DingdongMoneyUsageType.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Notification.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Ticket.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/Direction.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/NotificationType.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/ReservationStatus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Bus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusStop.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Path.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Point.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/vo/OperationStatus.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/House.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/School.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/AuthUser.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/AuthenticationManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/annotation/LoginUser.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/annotation/LoginUserArgumentResolver.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/filter/SessionInterceptor.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/ddbb/dingdong/DingdongApplicationTests.java
  backend/src/test/java/com/ddbb/dingdong/auth/AuthenticationManagerTest.java
Labels: backend, feature

#49 [BE] 도메인 설계 및JPA Entity 구현
  backend/.database/local/README.md
  backend/.database/local/docker-compose.yml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/ddbb/dingdong/DingdongApplication.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/DingdongMoneyChargeHistory.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/DingdongMoneyUsageHistory.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/Wallet.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/WalletHistory.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/vo/DingdongMoneyUsageType.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/vo/Result.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Notification.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Ticket.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/Direction.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/NotificationType.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/ReservationStatus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Bus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusStop.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Path.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Point.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/vo/OperationStatus.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/House.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/School.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/FCMManager.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/ddbb/dingdong/DingdongApplicationTests.java
Labels: backend, feature

#53 Feat#22/bus simulate
  backend/src/main/java/com/ddbb/dingdong/simulator/BusSimulator.java
  backend/src/main/java/com/ddbb/dingdong/simulator/BusSimulatorFactory.java
  backend/src/main/java/com/ddbb/dingdong/simulator/RouteSegment.java
  backend/src/main/java/com/ddbb/dingdong/simulator/segment/RouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/simulator/segment/impl/StubRouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/util/GeoUtil.java
  backend/src/main/resources/apiExample.json
Labels: backend, feature

#59 Feat/#41-54 홈, 예매 페이지, 실시간 버스 위치 페이지 구현
  .github/ISSUE_TEMPLATE/frontend-backlog-template.md
  .github/workflows/frontend-action1.yml
  src/App.tsx
  src/assets/fonts/Happiness-Sans-Bold.woff2
  src/assets/fonts/Happiness-Sans-Regular.woff2
  src/assets/fonts/Happiness-Sans-Title.woff2
  src/components/designSystem/Button/CancelButton/styles.ts
  src/hooks/useKakaoLoader/useKakaoLoader.ts
  src/pages/BusTracker/components/BusOverlay/index.tsx
  src/pages/BusTracker/components/BusOverlay/styles.ts
  src/pages/BusTracker/components/BusRoute/index.tsx
  src/pages/BusTracker/components/BusStopOverlay/index.tsx
  src/pages/BusTracker/components/BusStopOverlay/styles.ts
  src/pages/BusTracker/components/LocateMeButton/index.tsx
  src/pages/BusTracker/components/LocateMeButton/styles.ts
  src/pages/BusTracker/components/UserOverlay/index.tsx
  src/pages/BusTracker/page.tsx
  src/pages/BusTracker/styles.ts
  src/pages/Home/component/ArrowRightSvg/index.tsx
  src/pages/Home/component/BellSvg/index.tsx
  src/pages/Home/component/BusSelectionSvgA/index.tsx
  src/pages/Home/component/BusSelectionSvgB/index.tsx
  src/pages/Home/component/BusSvg/index.tsx
  src/pages/Home/component/HomeSvg/index.tsx
  src/pages/Home/component/UniversitySvg/index.tsx
  src/pages/Home/component/UserSvg/index.tsx
  src/pages/Home/page.tsx
  src/pages/Home/styles.ts
  src/pages/Reservations/components/ArrowLeftSvg/index.tsx
  src/pages/Reservations/components/ArrowRight2Svg/index.tsx
  src/pages/Reservations/components/ArrowRightSvg/index.tsx
  src/pages/Reservations/components/BookingActionButton/index.tsx
  src/pages/Reservations/components/BookingActionButton/styles.ts
  src/pages/Reservations/components/CalenderSvg/index.tsx
  src/pages/Reservations/components/CardSlider/index.tsx
  src/pages/Reservations/components/CardSlider/styles.ts
  src/pages/Reservations/components/ClockSvg/index.tsx
  src/pages/Reservations/components/FilterButton/index.tsx
  src/pages/Reservations/components/LocationSvg/index.tsx
  src/pages/Reservations/page.tsx
  src/pages/Reservations/styles.ts
  src/styles/ResetStyle.ts
  src/styles/buttons.ts
  src/styles/radius.ts
  src/styles/typography.ts
  tsconfig.app.json
  tsconfig.tsbuildinfo
Labels: frontend, feature

#69 Feat/#41-54 배포 에러 수정(폰트), 공통 헤더 컴포넌트 분리, SVG 아이콘 추가
  public/fonts/Happiness-Sans-Bold.woff2
  public/fonts/Happiness-Sans-Regular.woff2
  public/fonts/Happiness-Sans-Title.woff2
  public/fonts/Pretendard-Bold.subset.woff2
  public/fonts/Pretendard-Medium.subset.woff2
  public/fonts/Pretendard-Regular.subset.woff2
  public/fonts/Pretendard-SemiBold.subset.woff2
  src/components/Headers/ExitHeader/index.tsx
  src/components/Headers/ExitHeader/styles.ts
  src/components/Headers/HomeHeader/index.tsx
  src/components/Headers/HomeHeader/styles.ts
  src/components/Headers/PopHeader/index.tsx
  src/components/Headers/PopHeader/styles.ts
  src/components/designSystem/Icons/CancelIcon.tsx
  src/components/designSystem/Icons/HomeIcon.tsx
  src/styles/GlobalStyle.ts
Labels: frontend, fix, feature, refactor

#62 [BE] 전역 예외 핸들러 구현
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIException.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamException.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/handler/WebMvcExceptionHandler.java
  backend/src/main/java/com/ddbb/dingdong/domain/common/exception/DomainException.java
  backend/src/main/java/com/ddbb/dingdong/domain/common/exception/ErrorInfo.java
Labels: backend, feature

#82 [BE] 비밀번호 암호화 util 클래스 구현
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/SHA512PasswordEncoder.java
  backend/src/test/java/com/ddbb/dingdong/auth/SHA512PasswordEncoderTest.java
Labels: backend, feature

#83 [BE] UseCase 인터페이스 구현
  backend/src/main/java/com/ddbb/dingdong/application/common/Params.java
  backend/src/main/java/com/ddbb/dingdong/application/common/UseCase.java
Labels: backend, feature

#84 [BE] 1주차 스프린트 backend 브랜치 동기화
  backend/src/main/java/com/ddbb/dingdong/application/common/Params.java
  backend/src/main/java/com/ddbb/dingdong/application/common/UseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIException.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamException.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/handler/WebMvcExceptionHandler.java
  backend/src/main/java/com/ddbb/dingdong/domain/common/exception/DomainException.java
  backend/src/main/java/com/ddbb/dingdong/domain/common/exception/ErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/SHA512PasswordEncoder.java
  backend/src/test/java/com/ddbb/dingdong/auth/SHA512PasswordEncoderTest.java
Labels: backend, feature

#86 [FE] Feat/#80 my page 생성
  src/App.tsx
  src/pages/MyPage/page.tsx
  src/pages/MyPage/styles.ts
  src/pages/Reservations/page.tsx
  src/pages/Reservations/styles.ts
  src/styles/colors.ts
Labels: frontend, feature

#90 [BE] 로그인 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIErrorInfos.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/LoginUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/UserInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/UserLoginEndpoint.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/dto/LoginRequest.java
Labels: backend, feature

#93 [BE] 전역 예외 처리 수정
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIErrorInfos.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamException.java
Labels: backend, fix, refactor

#89 [FE] Feat/#80 my page SVG 분리( '>' )
  src/components/designSystem/Icons/MyPage/ArrowRightIcon.tsx
  src/pages/MyPage/page.tsx
Labels: frontend, refactor

#91 [BE] - 유저 정보 조회 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIErrorInfos.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetUserInfoUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/LoginUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/UserInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/UserStaticOnly.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/UserLoginEndpoint.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/dto/LoginRequest.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
  backend/src/test/java/com/ddbb/dingdong/domain/user/repository/userRepository/GetStaticInfoTest.java
Labels: backend, feature

#98 [FE] Feat/#88 time table management 페이지 UI 구현 & layout style 수정 & 공통 header 스타일 수정
  .github/ISSUE_TEMPLATE/깃헙-issue-및-백로그용-템플릿.md
  src/App.tsx
  src/components/Headers/ExitHeader/styles.ts
  src/components/Headers/HomeHeader/styles.ts
  src/components/Headers/PopHeader/styles.ts
  src/components/designSystem/Icons/TimeTableManagement/DefaultImgIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/DeleteIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/InfoIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/PlusIcon.tsx
  src/pages/BusTracker/page.tsx
  src/pages/BusTracker/styles.ts
  src/pages/TimetableManagement/components/CreateTable/index.tsx
  src/pages/TimetableManagement/components/CreateTable/styles.ts
  src/pages/TimetableManagement/page.tsx
  src/pages/TimetableManagement/styles.ts
  src/pages/styles.ts
Labels: frontend, feature

#100 [BE] 유저의 희망 탑승지 정보 조회 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/Home.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/HomeLocationProjection.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UserHomeEndpoint.java
  backend/src/test/java/com/ddbb/dingdong/user/GetHomeLocationUseCaseTest.java
Labels: backend, feature

#95 [BE] 로그인 API 수정
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthEndpoint.java
Labels: backend, fix, feature

#99 [FE] Feat/#88 time table management 페이지 UI 구현 & layout style 수정 & 공통 header 스타일 수정
  .github/ISSUE_TEMPLATE/깃헙-issue-및-백로그용-템플릿.md
  src/App.tsx
  src/components/Headers/ExitHeader/styles.ts
  src/components/Headers/HomeHeader/styles.ts
  src/components/Headers/PopHeader/styles.ts
  src/components/designSystem/Icons/TimeTableManagement/DefaultImgIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/DeleteIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/InfoIcon.tsx
  src/components/designSystem/Icons/TimeTableManagement/PlusIcon.tsx
  src/pages/BusTracker/page.tsx
  src/pages/BusTracker/styles.ts
  src/pages/TimetableManagement/components/CreateTable/index.tsx
  src/pages/TimetableManagement/components/CreateTable/styles.ts
  src/pages/TimetableManagement/page.tsx
  src/pages/TimetableManagement/styles.ts
  src/pages/styles.ts
Labels: frontend, feature

#102 [BE] 1차 스프린트 결과 merge
  backend/src/main/java/com/ddbb/dingdong/application/exception/APIErrorInfos.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/application/exception/InvalidParamException.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetUserInfoUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/Home.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/HomeLocationProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/UserStaticOnly.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/SHA512PasswordEncoder.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/dto/LoginRequest.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/LoginRequestDTO.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UserHomeEndpoint.java
  backend/src/test/java/com/ddbb/dingdong/domain/user/repository/userRepository/GetStaticInfoTest.java
  backend/src/test/java/com/ddbb/dingdong/user/GetHomeLocationUseCaseTest.java
Labels: backend, chore

#109 [BE] - 유저 예매 정보 확인 API 구현
  backend/src/main/java/com/ddbb/dingdong/DingdongApplication.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Ticket.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/vo/ReservationType.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/projection/UserReservationProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Bus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusStop.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Path.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Point.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/Home.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/ReservationCategory.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/SortType.java
Labels: backend, feature

#111 [BE] 유저 조회 쿼리 수정 및 User Entity 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
Labels: backend, fix, feature

#115 [BE] Line Entity 누락 부분 수정
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Line.java
Labels: backend, fix

#103 [BE] 사용자 위치 기반 클러스터링 기능 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/config/ClusteringConfig.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/controller/ClusterController.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/controller/LocationController.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/entity/Location.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/repository/LocationRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/service/ElkiClusteringService.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/service/SmileClusteringService.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/util/HaversineDistanceFunction.java
Labels: backend, feature

#122 [BE] CORS, 쿠키 정책
  backend/.env.example
  backend/.gitignore
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/School.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/filter/SessionInterceptor.java
  backend/src/main/resources/application-local.yml
Labels: backend, feature

#112 [BE] 버스 예매 토큰 발급 요청 API 구현
  backend/build.gradle
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/error/ReservationInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/ObjectMapperConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/PasswordEncoder.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/utils/AESEncoder.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/utils/SHA512Encoder.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/ReservationRequestDTO.java
  backend/src/test/java/com/ddbb/dingdong/auth/PasswordEncoderTest.java
  backend/src/test/java/com/ddbb/dingdong/auth/PaymentTokenTest.java
  backend/src/test/java/com/ddbb/dingdong/auth/SHA512PasswordEncoderTest.java
  backend/src/test/java/com/ddbb/dingdong/domain/user/repository/userRepository/GetStaticInfoTest.java
  backend/src/test/java/com/ddbb/dingdong/reservation/RequestReservationTest.java
Labels: backend, feature

#123 [BE] 예매 API 수정 사항
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: bug, backend, fix

#126 Feat/#60 bus simulate
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/BusSimulatorFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/RouteSegment.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/segment/RouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/segment/impl/TMapStubRouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/BusSubscriptionManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/UserSubscription.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/publisher/BusPublisherFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/publisher/PeriodicBusPublisher.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/source/BusSimulator.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/subscriber/CancelableSubscriber.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/subscriber/StubConsoleSubscriber.java
  backend/src/main/java/com/ddbb/dingdong/util/GeoUtil.java
  backend/src/main/resources/apiExample.json
  backend/src/test/java/com/ddbb/dingdong/bus/BusSimulatorTest.java
Labels: backend, feature

#136 [BE] 함께 타기 가능 시간 조회 API
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/GetBusSchedulesUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Bus.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/ScheduleTimeProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/SchoolIDProjection.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/bus/BusController.java
  backend/src/test/java/com/ddbb/dingdong/domain/user/repository/userRepository/GetStaticInfoTest.java
Labels: backend, feature

#137 [BE] 사용자 집 위치 변경 API 구현
  backend/.gitignore
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/LoginUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/PutHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/error/HomeInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/error/UserInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/Home.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/HomeErrors.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UpdateHomeLocationDto.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UserHomeEndpoint.java
Labels: backend, feature

#141 [BE] 사용자 지정 정류장 위치 수정 API 브랜치 병합
  backend/.gitignore
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/LoginUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/PutHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/error/HomeInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/error/UserInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/Home.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/HomeErrors.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UpdateHomeLocationDto.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/home/UserHomeEndpoint.java
Labels: backend

#142 [FE] - #72 버스 예매하기 예약 화면 플로우 개발
  package-lock.json
  package.json
  src/App.tsx
  src/api/BusBooking/customBusBooking.ts
  src/components/Button/AIRecommendationButton/index.tsx
  src/components/Button/AIRecommendationButton/styles.ts
  src/components/Headers/ExitHeader/styles.ts
  src/components/Headers/PopHeader/styles.ts
  src/components/TimePickerWheel/TimePicker/index.tsx
  src/components/TimePickerWheel/TimePicker/styles.ts
  src/components/TimePickerWheel/index.tsx
  src/components/TimePickerWheel/styles.ts
  src/components/designSystem/Button/OutlineButton/index.tsx
  src/components/designSystem/Button/OutlineButton/styles.ts
  src/components/designSystem/Button/SolidButton/index.tsx
  src/components/designSystem/Button/SolidButton/styles.ts
  src/components/designSystem/Icons/CancelIcon.tsx
  src/components/designSystem/Icons/ChevronLeftIcon.tsx
  src/components/designSystem/Icons/ChevronRightIcon.tsx
  src/components/designSystem/Icons/DayRepeatBoxIcon.tsx
  src/components/designSystem/Icons/DayRepeatCheckIcon.tsx
  src/components/designSystem/Icons/HomeIcon.tsx
  src/components/designSystem/Icons/InfoIcon.tsx
  src/components/designSystem/Icons/PinIcon.tsx
  src/components/designSystem/Icons/PolygonIcon.tsx
  src/components/designSystem/Icons/SchoolIcon.tsx
  src/components/designSystem/Icons/SparklesIcon.tsx
  src/components/designSystem/Icons/VectorIcon.tsx
  src/constants/calendarConstants.ts
  src/constants/timeWheelView.ts
  src/hooks/BusBooking/useCustomBooking.ts
  src/pages/BusBooking/Components/BottomOverlayModal/index.tsx
  src/pages/BusBooking/Components/BottomOverlayModal/styles.ts
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/styles.ts
  src/pages/BusBooking/CustomRouteBooking/components/CommuteSwitcher/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CommuteSwitcher/styles.ts
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/styles.ts
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/styles.ts
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/BusBooking/CustomRouteBooking/styles.ts
  src/pages/BusBooking/CustomRouteBooking/types/selectedDateType.ts
  src/pages/BusBooking/hooks/useCalendar.ts
  src/pages/BusBooking/store/actions.ts
  src/pages/BusBooking/store/reducer.ts
  src/pages/BusBooking/store/selectors.ts
  src/pages/BusBooking/store/types.ts
  src/pages/BusBooking/types/commuteType.ts
  src/pages/BusTracker/components/BusStopOverlay/styles.ts
  src/pages/SetHomeLocation/components/BottomModal/index.tsx
  src/pages/styles.ts
  src/styles/colors.ts
  src/utils/calendar/calendarUtils.ts
  src/utils/calendar/selectTimeBottomModalUtils.ts
  src/utils/calendar/timeViewBottomModalUtil.ts
  src/utils/calendar/timeWheelUtils.ts
  src/utils/geoLocation/coordinateToAddress.ts
Labels: frontend, feature

#143 [BE] 회원가입 시 이메일 검증 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/CheckEmailUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/LoginUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/errors/AuthParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/util/EmailValidator.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/error/UserInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/CheckEmailDto.java
Labels: backend, feature

#146 [FE] Feat/#138 충전 페이지 & 커스텀 useNavigation 구현
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  src/App.tsx
  src/api/queries/Home/index.ts
  src/api/queries/Test/index.ts
  src/api/queries/index.ts
  src/api/query/notification/get.ts
  src/api/query/test/get.ts
  src/components/Headers/ExitHeader/styles.ts
  src/components/Headers/HomeHeader/styles.ts
  src/components/Headers/PopHeader/styles.ts
  src/components/Loading/index.tsx
  src/components/Loading/styles.ts
  src/components/Modal/index.tsx
  src/components/Modal/styles.ts
  src/components/designSystem/Icons/ErrorIcon.tsx
  src/lib/customNav/createQueryFactory.ts
  src/lib/customNav/index.tsx
  src/lib/customNav/interface.ts
  src/pages/Home/page.tsx
  src/pages/Wallet/page.tsx
  src/pages/Wallet/styles.ts
  src/styles/colors.ts
Labels: frontend, feature

#152 [BE] 소켓 매니저 구현
  backend/build.gradle
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/CustomCloseStatus.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/configuration/WebSocketConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/handler/AuthHandShakeInterceptor.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/handler/SocketHandler.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/repository/SocketRepository.java
Labels: backend, feature

#153 [BE] 회원가입 API 구현
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/CheckEmailUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/SignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/errors/AuthParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/util/EmailValidator.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/PutHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/CheckEmailDto.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/SignUpRequestDto.java
  backend/src/main/java/com/ddbb/dingdong/util/ParamValidator.java
Labels: backend, feature

#155 [BE] - 버스 구독 API
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/SubscribeBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/UnsubscribeBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusSubscribeService.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/BusSubscriptionManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/publisher/PeriodicBusPublisher.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/subscriber/SocketSubscriber.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/handler/SocketHandler.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/bus/SubscriptionEndPoint.java
  backend/src/main/java/com/ddbb/dingdong/util/FormatUtil.java
Labels: backend, feature

#161 [BE] 알림 기능 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/CheckUnreadNotificationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/GetNotificationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/entity/Location.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/entity/Notification.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/entity/vo/NotificationType.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/projection/NotificationProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/error/NotificationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/PaymentManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/event/AllocationFailedEvent.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/event/AllocationSuccessEvent.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/notification/NotificationController.java
Labels: backend, feature

#163 [BE] 예매 조회시 BusScheduleId도 조회하도록 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/projection/UserReservationProjection.java
Labels: backend, fix

#168 [FE] - Feat/#140 로그인 홈, 로그인, 회원 가입 화면 구현
  package-lock.json
  package.json
  src/App.tsx
  src/api/Login/login.ts
  src/api/SignUp/signUp.ts
  src/components/designSystem/Icons/LoginHome/DingdongLogoIcon.tsx
  src/constants/daumPostCode.ts
  src/constants/signupTexts.ts
  src/hooks/Login/useLogin.ts
  src/hooks/SignUp/useSignUp.ts
  src/hooks/SignUp/useTimer.ts
  src/hooks/setHomeLocation/useHomeLocation.ts
  src/lib/customNav/index.tsx
  src/pages/Auth/Components/FormWrapper/index.tsx
  src/pages/Auth/Components/FormWrapper/styles.ts
  src/pages/Auth/Components/Input/index.tsx
  src/pages/Auth/Components/Input/styles.ts
  src/pages/Auth/Login/index.tsx
  src/pages/Auth/Login/styles.ts
  src/pages/Auth/LoginHome/index.tsx
  src/pages/Auth/LoginHome/styles.ts
  src/pages/Auth/Signup/Password/index.tsx
  src/pages/Auth/Signup/Password/styles.ts
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/SchoolAuth/styles.ts
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/Auth/Signup/UserInfo/styles.ts
  src/pages/Auth/Signup/page.tsx
  src/pages/Auth/Signup/styles.ts
  src/pages/Wallet/page.tsx
  src/styles/colors.ts
  src/utils/login/emailValidation.ts
  src/utils/signUp/passwordValidation.ts
  src/utils/signUp/userInfoFormatValidation.ts
  vite.config.ts
Labels: frontend, feature

#171 [BE] 예매 내역 조회 중복 튜플 반환했던 버그 해결
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/projection/UserReservationProjection.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/enums/ReservationCategory.java
Labels: bug, backend, fix

#159 [BE] 시간대별 정류장 조회 API
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/GetAvailableBusLine.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusStopQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/AvailableBusStopProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/BusReservedSeatProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusStopQueryService.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/projection/HomeStationProjection.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/bus/BusController.java
Labels: backend, feature

#175 [BE] 함께 타기 예매 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/BusStopRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenManager.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/GeneralReservationConfirmDTO.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/GeneralReservationRequestDTO.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/TogetherReservationConfirmDTO.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/TogetherReservationRequestDTO.java
Labels: backend, feature

#179 [BE] tmap api이용한 경유지 최적화 코드 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/projection/UserReservationProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/Path.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/routing/BusRouteCreationService.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/routing/util/TmapRouteOptimizationDTOConverter.java
Labels: bug, backend, fix

#180 [BE] 긴급 수정사항 - error response 타입 변경 , 쿼리 수정
  backend/src/main/java/com/ddbb/dingdong/application/exception/handler/WebMvcExceptionHandler.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/UserQueryRepository.java
Labels: bug, backend, fix, chore

#182 [BE] 로그아웃 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/LogoutUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/SignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/PutHomeLocationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/exchanges/UpdateHomeLocationDto.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/exchanges/UserHomeEndpoint.java
Labels: backend, feature

#183 [FE]- Feat/#177 notification 알림화면 구현
  src/api/Notification/notification.ts
  src/components/designSystem/Icons/Home/BellIcon.tsx
  src/components/designSystem/Icons/Home/BusIcon.tsx
  src/components/designSystem/Icons/Notification/BusFailIcon.tsx
  src/components/designSystem/Icons/Notification/ExclamationIcon.tsx
  src/components/designSystem/Icons/Notification/SmileIcon.tsx
  src/hooks/Notification/useNotification.ts
  src/hooks/SignUp/useTimer.ts
  src/main.tsx
  src/pages/Auth/Signup/Password/index.tsx
  src/pages/Auth/Signup/Password/styles.ts
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/SchoolAuth/styles.ts
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/Auth/Signup/page.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/Notification/Components/NotificationCard/NotificationContent.tsx
  src/pages/Notification/Components/NotificationCard/NotificationIcon.tsx
  src/pages/Notification/Components/NotificationCard/TicketCardContent.tsx
  src/pages/Notification/Components/NotificationCard/index.tsx
  src/pages/Notification/Components/NotificationCard/styles.ts
  src/pages/Notification/Components/TicketCard/index.tsx
  src/pages/Notification/Components/TicketCard/styles.ts
  src/pages/Notification/model/notificationCardType.ts
  src/pages/Notification/page.tsx
  src/pages/Notification/styles.ts
  src/utils/notification/dateFormatter.ts
  tsconfig.app.json
  tsconfig.node.json
Labels: frontend, feature

#187 [BE] 버그 수정 및 리팩토링
  backend/src/main/java/com/ddbb/dingdong/application/exception/handler/WebMvcExceptionHandler.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/entity/BusSchedule.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenErrors.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenManager.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/TogetherReservationRequestDTO.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/ddbb/dingdong/auth/PaymentTokenTest.java
Labels: bug, backend, fix, refactor

#188 [BE] 버그 수정 및 기능 추가
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/enums/ReservationCategory.java
Labels: bug, backend, fix

#189 [BE] AuthUser에 school Id 추가
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/service/UserManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/AuthUser.java
Labels: backend, fix

#192 [BE] 긴급 수정 Projection 코드버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/GetNotificationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/projection/NotificationProjection.java
Labels: bug, backend, fix

#190 [BE] 버스 출발 API 구현 및 경로 조회 시 자잘한 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/GetPathPointLine.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/PathQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/PathSegmentProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/UserBusStopProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusPublishService.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/RepositoryRouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/dto/UserBusStopTime.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/event/BusDepartureEvent.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/BusSimulatorFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/segment/RouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/segment/impl/TMapStubRouteSegmentProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/publisher/BusPublisherFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/publisher/PeriodicBusPublisher.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/BusAdminController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/exchanges/BusStartRequestDTO.java
  backend/src/test/java/com/ddbb/dingdong/bus/BusSimulatorTest.java
Labels: backend, feature

#200 [BE] 회원가입 API Body값 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/SignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/errors/AuthParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/SignUpRequestDto.java
Labels: backend, fix

#202 [feat] 학교 리스트 반환하는 api 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetSchoolsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/SchoolController.java
Labels: backend

#203 [BE] 30분마다 환불 실패한 내역 찾아 retry하는 scheduler 구현
  backend/src/main/java/com/ddbb/dingdong/domain/payment/repository/WalletProjectionRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/repository/projection/FailedRefundProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/RetryScheduler.java
Labels: backend, feature

#206 [BE] 알람 테이블 수정 및 첫 가입시 환영인사 알림 추가
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/GetNotificationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/error/AuthErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/event/SignUpSuccessEvent.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/entity/Notification.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/entity/vo/NotificationType.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/projection/NotificationProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/DingdongMoneyChargeHistory.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/SignUpRequestDto.java
Labels: backend, fix, feature

#209 [BE] 알림 조회 긴급 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/GetNotificationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
Labels: bug, backend, fix

#215 [BE] 중복 예매 체크 로직의 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/error/ReservationInvalidParamErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/Token.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenErrors.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/GeneralReservationRequestDTO.java
Labels: bug, backend, fix

#227 [BE] 예매 내역 조회 페이지네이션에서 totalElements를 잘못 가져오는 버그 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
Labels: bug, backend, fix

#224 [FE] - Feat/#186 API 연결 작업( 집주소 설정, 함께타기 예매, 버스예매, 회원 가입, 알림 등등)
  src/api/BusBooking/fixedBusBooking.ts
  src/api/Login/login.ts
  src/api/Notification/notification.ts
  src/api/SignUp/signUp.ts
  src/api/query/signUp/index.ts
  src/api/query/users/index.ts
  src/api/setHomeLocation.ts
  src/components/Toast/styles.ts
  src/components/designSystem/Button/SolidButton/styles.ts
  src/constants/busTimeScheduleTempData.ts
  src/hooks/BusBooking/useFixedBooking.ts
  src/hooks/SignUp/useSignUp.ts
  src/hooks/setHomeLocation/useHomeLocation.ts
  src/hooks/useNavigate/index.ts
  src/hooks/useToast/index.tsx
  src/main.tsx
  src/middleware.tsx
  src/pages/Auth/Components/Dropdown/index.tsx
  src/pages/Auth/Components/Dropdown/styles.ts
  src/pages/Auth/Signup/Password/index.tsx
  src/pages/Auth/Signup/Password/styles.ts
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/SchoolAuth/styles.ts
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/Auth/Signup/page.tsx
  src/pages/Auth/hooks/useAddressToCoordinate.ts
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CommuteSwitcher/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCommuteSwitcher/index.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/TimeSelectButtons/index.tsx
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/styles.ts
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/BottomModal/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/page.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/styles.ts
  src/pages/Notification/Components/NotificationCard/NotificationContent.tsx
  src/pages/Notification/Components/NotificationCard/NotificationIcon.tsx
  src/pages/Notification/Components/NotificationCard/TicketCardContent.tsx
  src/pages/Notification/Components/NotificationCard/index.tsx
  src/pages/Notification/Components/NotificationCard/styles.ts
  src/pages/Notification/Components/TicketCard/index.tsx
  src/pages/Notification/Components/TicketCard/styles.ts
  src/pages/Notification/model/notificationCardType.ts
  src/pages/Notification/page.tsx
  src/pages/SetHomeLocation/components/BottomModal/index.tsx
  src/pages/SetHomeLocation/components/MapWrapper/index.tsx
  src/pages/SetHomeLocation/page.tsx
  src/types/auth/signUpType.ts
  src/utils/fixedBusBooking/ISOStringToDateDay.ts
  src/utils/fixedBusBooking/busTimeScheduleStringToObject.ts
  src/utils/fixedBusBooking/timeObjectToString.ts
  src/utils/geoLocation/getCoordinateToAddress.ts
  src/utils/notification/dateFormatter.ts
Labels: frontend, fix, feature

#223 [BE] 버스 운행 종료 API 추가 및 버스 운행 시작 API 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StopBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/BusAdminController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/exchanges/BusStartRequestDTO.java
Labels: backend, feature

#232 [BE] 예매 취소 url 변경
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/exchanges/ReservationCancelDTO.java
Labels: backend, fix, chore

#233 [BE] User 테이블에 Role 추가
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/FastSignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/vo/Role.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/AuthUser.java
Labels: backend, feature

#235 [FE] - 함께 타기 예매 정보 세션스토리지 추가, 모달 계속 html에 추가되는 문제 수정
  src/main.tsx
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/BottomModal/index.tsx
Labels: frontend, fix, feature

#236 [BE] Role 별로 url 인가 작업을 하도록하는 Security Filter 구현
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/filter/SessionInterceptor.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/AuthUser.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/AuthenticationManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/SecurityConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/SecurityRegistry.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/annotation/LoginUser.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/annotation/LoginUserArgumentResolver.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/security/filter/SessionInterceptor.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/configuration/ObjectMapperConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/configuration/SwaggerConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/configuration/WebConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/handler/AuthHandShakeInterceptor.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/handler/SocketHandler.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/webSocket/repository/SocketRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/AdminController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/temp/AdminUserTestController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/AuthController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/bus/BusController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/bus/SubscriptionEndPoint.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/notification/NotificationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserHomeController.java
  backend/src/test/java/com/ddbb/dingdong/auth/AuthenticationManagerTest.java
Labels: backend, feature, chore, refactor

#239 [BE] 함께타기 예매에서 탑승 가능한 버스 조회시, 버스 정류장 ID도 반환하도록 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/GetAvailableBusLine.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusStopQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/AvailableBusStopProjection.java
Labels: backend, fix

#240 [BE] 각 테이블의 unique 컬럼과 unique constraints 할당
  backend/.database/data.sql
  backend/.database/schema.sql
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/entity/Location.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/Wallet.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/School.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/repository/SchoolRepository.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenManager.java
  backend/src/main/resources/application-local.yml
Labels: documentation, backend, chore

#243 [BE] 딩동머니 사용내역 조회 api 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetWalletBalanceUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/GetWalletHistoryUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/repository/WalletQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/repository/projection/UsageHistoryProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/RetryScheduler.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
Labels: backend, feature

#245 [BE] Page를 그대로 직렬화 했을때 직렬화에 실패하는 버그 해결
  backend/src/main/java/com/ddbb/dingdong/application/usecase/notification/GetNotificationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationsUseCase.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/notification/NotificationController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: bug, backend, fix

#247 [BE] 회원가입 api 호출시 RequestDTO로 역직렬화 안되는 버그 수정
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/auth/exchanges/SignUpRequestDto.java
Labels: bug, backend, fix

#242 Feat/#176 web push notification
  .gitignore
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/App.tsx
  src/api/webPushNotification/notification.ts
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/vite-env.d.ts
  src/webPushNotification/handleAllowNotification.ts
  src/webPushNotification/settingFCM.ts
Labels: frontend, feature

#251 [BE] 회원가입시 자동으로 로그인 되도록 세션 쿠키 부여
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/SignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
Labels: backend, fix

#259 [BE] 딩동머니 무료 충전 API 구현
  backend/.database/schema.sql
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/ChargeDingdongMoneyFreeUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/Wallet.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/vo/DingdongMoneyUsageType.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/repository/WalletRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/PaymentErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/PaymentManagement.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
Labels: backend, feature

#260 [BE] 무료 충전 사용 가능한지 여부 조회 API 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/CheckFreeChargeAvailableUseCase.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
Labels: backend, feature

#265 [BE] 유저의 버스 배차 정보 조회 API
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetUserBusScheduleInfoUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: backend, feature

#254 [BE] FCM 푸쉬 알림 기능 구현 및 버스 출발 알림 객체 수정
  backend/.database/schema.sql
  backend/.env.example
  backend/.gitignore
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/EnrollFCMTokenUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/UserBusStopProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/dto/UserBusStopTime.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/event/BusDepartureEvent.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/NotificationMessage.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/NotificationMessageFormatter.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/NotificationSender.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/WebPushNotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/FCMPushNotificationSender.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/FCMTokenManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/FirebaseConfig.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/MessageFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/entity/FCMToken.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/error/FCMError.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/error/FCMException.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/firebase/repository/FCMTokenRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/UserController.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/user/exchanges/EnrollFCMTokenRequest.java
  backend/src/main/resources/application-local.yml
Labels: backend, feature

#268 [FE] - 타임 휠 운영시간 맞게 선택할 수 있도록 수정 & 함께타기 버그 수정 & busStopId 세션스토리지에 저장 & build 에러 오류 모두 해결
  .env
  src/components/TimePickerWheel/index.tsx
  src/pages/Auth/Components/Dropdown/styles.ts
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/Auth/hooks/useAddressToCoordinate.ts
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/TimeSelectButtons/index.tsx
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/styles.ts
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/BottomModal/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/page.tsx
  src/pages/BusBooking/hooks/useCalendar.ts
  src/pages/BusBooking/store/selectors.ts
  src/pages/Notification/Components/NotificationCard/NotificationContent.tsx
  src/pages/Notification/page.tsx
  src/pages/SetHomeLocation/components/BottomModal/index.tsx
  src/pages/SetHomeLocation/components/MapWrapper/index.tsx
  src/pages/SetHomeLocation/page.tsx
  src/utils/calendar/calendarUtils.ts
  src/utils/calendar/timeWheelUtils.ts
  src/utils/fixedBusBooking/timeObjectToString.ts
  src/utils/geoLocation/getCoordinateToAddress.ts
Labels: bug, frontend, feature

#270 [BE] 버스 출발 API에서 정류장 예상 도착시간 변경시 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/UserBusStopProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/dto/UserBusStopTime.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/event/BusDepartureEvent.java
Labels: bug, backend, fix

#271 [feat] 버스 스케쥴에 예상 도착시간을 변경하는 도메인 메소드
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
Labels: backend, fix

#274 [BE] 버스 알림 버그 수정 및 버스 출발 알림 event listner 구현
  backend/.database/schema.sql
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/clustering/entity/Location.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusStopQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/UserIdAndReservationIdProjection.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
Labels: bug, backend, fix, feature

#272 [BE] 웹 소켓 구독 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StopBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusErrors.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/BusSubscriptionLockManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/BusSubscriptionManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/StoppableLock.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/subscriber/CancelableSubscriber.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/WebPushNotificationEventListener.java
  backend/src/test/java/com/ddbb/dingdong/bus/BusSimulatorTest.java
Labels: bug, fix

#276 [BE] 함께타기 요청/결제 시, 48시간 내외임을 검증하던 로직 제거 및 알람 버그 수정
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
Labels: bug, backend, fix

#279 [BE] 하교 버스 출발시 출발 시각을 LocalDateTime.now()로 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
Labels: backend, fix

#283 [BE] 함께 타기 예매 시도 시, 누락된 필드에 대한 Null check 검사 기능 구현
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/error/ReservationInvalidParamErrors.java
Labels: backend, fix

#286 [BE] 이미 예매한 중복 일정에 대한 예매 시도 시, 에러 코드 반환 세분화
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: backend, fix

#291 [BE] 예매내역 조회에서 카테고리가 HOME일때, PENDING상태인 예매를 못 가져오는 버그 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
Labels: bug, backend, fix

#280 [FE]- Feat/#269 시간표 추천 예매 API 연동 작업
  src/api/BusBooking/customBusBooking.ts
  src/components/Button/TimeTableRecommendationButton/index.tsx
  src/components/Button/TimeTableRecommendationButton/styles.ts
  src/components/TimePickerWheel/TimePicker/index.tsx
  src/components/TimePickerWheel/TimePicker/styles.ts
  src/constants/buttonTexts.ts
  src/hooks/BusBooking/useCustomBooking.ts
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/hooks/useCalendar.ts
  src/pages/SetHomeLocation/components/DragPin/index.tsx
  src/pages/SetHomeLocation/components/DragPin/styles.ts
  src/pages/SetHomeLocation/components/MapWrapper/index.tsx
  src/pages/SetHomeLocation/page.tsx
  src/utils/calendar/calendarUtils.ts
  src/utils/geoLocation/getCoordinateToAddress.ts
  src/utils/timetableRecommendation/convertToISOString.ts
  src/webPushNotification/handleAllowNotification.ts
Labels: frontend, fix, feature

#292 [BE] 실제 바뀐 Arrival/Departure Time 으로 가져오도록 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetUserBusScheduleInfoUseCase.java
Labels: bug, backend, fix

#295 [BE] 첫 가입 딩동머니 충전 내역을 히스토리 테이블에 자동 추가하도록 변경
  backend/.database/schema.sql
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/notification/service/NotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/Wallet.java
  backend/src/main/java/com/ddbb/dingdong/domain/payment/entity/vo/DingdongMoneyUsageType.java
Labels: backend, fix

#297 [FE] - QA 작업 반영 진행중
  .env
  src/App.tsx
  src/api/Notification/notification.ts
  src/api/SignUp/signUp.ts
  src/constants/busTimeScheduleTempData.ts
  src/constants/signupTexts.ts
  src/hooks/Debounce/useDebounce.ts
  src/hooks/Notification/useNotification.ts
  src/hooks/SignUp/useSignUp.ts
  src/hooks/setHomeLocation/useHomeLocation.ts
  src/hooks/useKakaoLoader/useKakaoLoader.ts
  src/pages/Auth/Components/Input/index.tsx
  src/pages/Auth/Login/index.tsx
  src/pages/Auth/Signup/Password/index.tsx
  src/pages/Auth/Signup/Password/styles.ts
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/Auth/hooks/useAddressToCoordinate.ts
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBooking/styles.ts
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/styles.ts
  src/pages/BusBooking/FixedRouteBookingSelectBus/page.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/styles.ts
  src/pages/Notification/Components/NotificationCard/NotificationContent.tsx
  src/pages/Notification/Components/NotificationCard/NotificationIcon.tsx
  src/pages/Notification/Components/NotificationCard/index.tsx
  src/pages/Notification/Components/NotificationCard/styles.ts
  src/pages/Notification/Components/TicketCard/index.tsx
  src/pages/Notification/Components/TicketCard/styles.ts
  src/pages/Notification/model/notificationCardType.ts
  src/pages/Notification/page.tsx
  src/pages/SetHomeLocation/components/BottomModal/index.tsx
  src/pages/SetHomeLocation/components/MapWrapper/index.tsx
  src/pages/SetHomeLocation/hooks/useCoodinateToAddress.ts
  src/utils/signUp/passwordValidation.ts
  src/webPushNotification/handleAllowNotification.ts
  vite.config.ts
Labels: bug, frontend, fix, feature

#301 [BE] 배차 실패 알림 query 버그 수정
  backend/src/main/java/com/ddbb/dingdong/domain/notification/repository/NotificationQueryRepository.java
Labels: bug, backend, fix

#305 [BE] 중복 토큰 판단하는 로직을 인메모리로 경량화 하여 성능 개선
  backend/.database/schema.sql
  backend/src/main/java/com/ddbb/dingdong/ApplicationInitializer.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestGeneralReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/FastSignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/Token.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/TokenRepository.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/password/PasswordEncoder.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/token/CachedTokenProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/token/TokenErrors.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/token/TokenManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/token/TokenRepository.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
  backend/src/test/java/com/ddbb/dingdong/auth/PasswordEncoderTest.java
  backend/src/test/java/com/ddbb/dingdong/auth/TokenConcurrentTest.java
Labels: backend, fix

#307 [BE] 예매 내역 조회에서 '배차완료' 카테고리가 '운행 종료'도 가져오는 문제 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
Labels: bug, backend, fix

#310 버그 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusStopQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusScheduleManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/subscription/BusSubscriptionManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/notification/WebPushNotificationEventListener.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/admin/AdminController.java
Labels: bug, backend, fix

#311 [BE] 일반 예매 가능 날짜 정책 변경
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
Labels: backend, fix

#317 [BE] Simple Cache를 Bean 주입해서 모두가 쓸수있게하고, 제네릭이 아닌 Object 타입으로 받도록 변경
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/token/CachedTokenProvider.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
  backend/src/test/java/com/ddbb/dingdong/auth/TokenConcurrentTest.java
Labels: backend, fix

#318 [fix] 이미 Path가 생성된 location은 클러스터 라벨을 "DONE"이라고 변경하기
  backend/src/main/java/com/ddbb/dingdong/application/usecase/clustering/CreateClusterUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
Labels: bug, backend, fix

#313 [FE] - QA 반영
  src/api/query/fixedBusSelect.ts/index.ts
  src/api/query/notification/index.ts
  src/components/designSystem/Button/SolidButton/index.tsx
  src/hooks/BusBooking/useFixedBooking.ts
  src/hooks/Notification/useNotification.ts
  src/hooks/setHomeLocation/useHomeLocation.ts
  src/pages/Auth/Login/index.tsx
  src/pages/Auth/LoginHome/index.tsx
  src/pages/Auth/Signup/Password/index.tsx
  src/pages/Auth/Signup/SchoolAuth/index.tsx
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/styles.ts
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/BusBooking/CustomRouteBooking/styles.ts
  src/pages/BusBooking/FixedRouteBooking/page.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/BottomModal/styles.ts
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/page.tsx
  src/pages/Notification/Components/NotificationCard/NotificationContent.tsx
  src/pages/Notification/Components/NotificationCard/index.tsx
  src/pages/Notification/Components/TicketCard/styles.ts
  src/pages/Notification/model/notificationCardType.ts
  src/pages/Notification/page.tsx
  src/pages/SetHomeLocation/components/BottomModal/index.tsx
  src/pages/SetHomeLocation/components/MapWrapper/index.tsx
  src/pages/SetHomeLocation/hooks/useCoodinateToAddress.ts
  src/pages/SetHomeLocation/page.tsx
  src/route/index.tsx
  src/route/loader/fixedRouteBooking/fixedRouteBookingLoader.ts
  src/utils/calendar/calendarUtils.ts
  src/utils/calendar/timeWheelUtils.ts
Labels: bug, frontend, fix

#320 [BE] 일반예매시 중복 예약을 체크하는 쿼리에서, 괄호가 빠져서 다른 결과를 나왔던 버그 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationRepository.java
Labels: bug, backend, fix

#322 [BE] reservationId로 단일 예매내역을 조회하는 API추가
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: backend, feature

#332 [FE] - ios FCM알림 오도록 설정 구현 & 데모데이 QA 반영 & 번들 사이즈 줄이기
  index.html
  public/manifest.json
  src/components/Modal/styles.ts
  src/pages/Auth/Login/index.tsx
  src/pages/Auth/LoginHome/index.tsx
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/page.tsx
  src/pages/TimetableManagement/components/TimePicker/index.tsx
  src/webPushNotification/settingFCM.ts
  vite.config.ts
Labels: frontend, fix, feature

#331 [BE] 함께 타기 예매에 대한 동시성 보장
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/routing/CreateRouteUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationConcurrencyManager.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleRepository.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/ddbb/dingdong/reservation/ReservationConcurrencyTest.java
  backend/src/test/resources/application.yml
Labels: backend, fix, feature

#337 [FE] - FCM 토큰 생성 요청 처리 수정
  src/api/webPushNotification/notification.ts
  src/pages/Auth/Login/index.tsx
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/components/MapWrapper/index.tsx
  src/pages/BusBooking/FixedRouteBookingSelectBus/page.tsx
  src/pages/BusBooking/store/actions.ts
  src/pages/BusBooking/store/reducer.ts
  src/pages/BusBooking/store/types.ts
  src/pages/Home/component/BusSelection/styles.ts
  src/utils/fcmToken/fcmTokenStorage.ts
  src/utils/signUp/userInfoFormatValidation.ts
  src/webPushNotification/handleAllowNotification.ts
  src/webPushNotification/settingFCM.ts
Labels: bug, frontend, fix

#339 [BE] 어플리케이션 로드 시, RemainingSeats를 관리하는 세마포어를 초기화 하는 로직 추가
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/GetAvailableBusLine.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/GetUserBusScheduleInfoUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/entity/Reservation.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationConcurrencyManager.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/error/DuplicatedReservationErrorInfo.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/error/ReservationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/projection/BusScheduleIdAndReservedSeatsProjection.java
  backend/src/main/java/com/ddbb/dingdong/presentation/endpoint/reservation/ReservationController.java
Labels: backend, feature

#341 [FE] - FCM 알림 ios 적용 처리 : ios 브라우저 화면에서 서비스가 흰화면으로 보이는 문제 해결
  src/pages/Auth/LoginHome/index.tsx
  src/webPushNotification/settingFCM.ts
Labels: bug, frontend

#340 [BE] 한 유저가 한 버스 스케쥴에 여러번 토큰 요청시, 게속 버스 좌석을 점유하는 버그 수정
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationConcurrencyManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
Labels: bug, backend, fix

#344 [BE] 패스워드 정규식 수정 및 시간표 기반 예매 추천 형식 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/SuggestReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/user/entity/User.java
  backend/src/main/java/com/ddbb/dingdong/util/ParamValidator.java
Labels: backend, fix

#345 [BE] count query에서 SELECT문이 빠졌던 것 수정
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/repository/ReservationQueryRepository.java
Labels: bug, backend, fix

#347 [BE] 프로젝트 디렉토리 리팩토링
  backend/.deploy/.dockerignore
  backend/.deploy/.env.example
  backend/.deploy/Dockerfile
  backend/.deploy/docker-compose.yml
  backend/.gitignore
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/CheckEmailUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/auth/SignUpUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/ChangeUserStationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/user/TestFCMNotificationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/auth/service/AuthManagement.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/error/ReservationErrors.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/service/BusStopQueryService.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/simulator/BusSimulatorFactory.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/bus/subscription/subscriber/SocketSubscriber.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/routing/api/TmapApiProperties.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/util/FormatUtil.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/util/GeoUtil.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/util/ParamValidator.java
  backend/src/test/java/com/ddbb/dingdong/auth/AuthenticationManagerTest.java
  backend/src/test/java/com/ddbb/dingdong/auth/PaymentTokenTest.java
  backend/src/test/java/com/ddbb/dingdong/bus/BusSimulatorTest.java
  backend/src/test/java/com/ddbb/dingdong/domain/clustering/ApiClientTest.java
  backend/src/test/java/com/ddbb/dingdong/domain/user/repository/userRepository/GetStaticInfoTest.java
  backend/src/test/java/com/ddbb/dingdong/infrastructure/bus/simulator/BusSubscriptionLockManagerTest.java
  backend/src/test/java/com/ddbb/dingdong/reservation/RequestReservationTest.java
  backend/src/test/java/com/ddbb/dingdong/reservation/ReservationRecommendationServiceTest.java
Labels: backend, chore, refactor

#348 [BE] 함께 타기 예약이 확정되면, 세마포어를 놓지 않고 계속 유지하도록 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationConcurrencyManager.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
Labels: bug, backend, fix

#352 [BE] StoppableSemaphore - tryAcquire 로직 수정
  backend/src/main/java/com/ddbb/dingdong/infrastructure/lock/StoppableSemaphore.java
Labels: bug, backend, fix

#353 [BE] 함께타기 예약 확정시 lock , unlock 로직 제거 및 시간표 추천 정책 변경
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationManagement.java
  backend/src/main/java/com/ddbb/dingdong/infrastructure/cache/SimpleCache.java
Labels: bug, backend, fix

#354 [FE]- 버스 예매 시간표 추천용 API로 연동하여 수정작업.
  src/api/BusBooking/customBusBooking.ts
  src/hooks/BusBooking/useCustomBooking.ts
  src/pages/Auth/Signup/UserInfo/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/SelectTimeBottomModal/index.tsx
  src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  src/pages/BusBooking/store/actions.ts
  src/utils/signUp/passwordValidation.ts
  src/utils/timetableRecommendation/convertToISOString.ts
Labels: bug, frontend, feature

#360 [BE] 버스 출발 후 사용자의 예매 및 결제 시도 차단
  backend/src/main/java/com/ddbb/dingdong/application/usecase/bus/StartBusUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/RequestTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/reservation/service/ReservationConcurrencyManager.java
  backend/src/test/java/com/ddbb/dingdong/reservation/ReservationConcurrencyTest.java
  backend/src/test/resources/application.yml
Labels: backend, fix, feature

#363 Update README.md
  README.md
Labels: documentation

#365 [BE] Hotfix: 버스 스케쥴 테이블 내 남은 좌석 수 감소 시키는 쿼리문 삭제
  backend/src/main/java/com/ddbb/dingdong/application/usecase/reservation/MakeTogetherReservationUseCase.java
  backend/src/main/java/com/ddbb/dingdong/domain/transportation/repository/BusScheduleRepository.java
Labels: backend, fix

#373 [BE] 환불 이벤트 리스너에 phase = TransactionPhase.AFTER_COMMIT 추가
  backend/src/main/java/com/ddbb/dingdong/domain/payment/service/PaymentEventListener.java
Labels: backend, fix

#374 [BE] AES SECRET을 환경변수로 분리
  backend/src/main/java/com/ddbb/dingdong/infrastructure/auth/encrypt/utils/AESEncoder.java
  backend/src/main/resources/application-local.yml
Labels: backend, fix

#379 Update README.md
  README.md
Labels: documentation

#380 [BE] EnableAsync 어노테이션 활성화
  backend/src/main/java/com/ddbb/dingdong/DingdongApplication.java
Labels: backend

#384 [FE] - 알림내역 배차 실패시, 탑승 시간 부분 "-" 처리가 나오지 않는 버그 수정하여 반영
  frontend/src/pages/Notification/Components/TicketCard/index.tsx
Labels: bug, frontend, fix

#388 [FE] - fcm 푸시 알림을 클릭했을 때, 알림 내역 화면으로 이동하도록 검증 조건문 추가.
  frontend/public/firebase-messaging-sw.js
  frontend/src/pages/Auth/Components/Dropdown/index.tsx
  frontend/src/pages/Auth/Components/Dropdown/styles.ts
Labels: bug, frontend, fix

#391 fix: 함께타기 예약 달력 화면 버그 수정
  frontend/src/api/BusBooking/fixedBusBooking.ts
  frontend/src/api/query/fixedBusBooking/index.ts
  frontend/src/api/query/fixedBusSelect/index.ts
  frontend/src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  frontend/src/pages/BusBooking/FixedRouteBooking/page.tsx
  frontend/src/pages/BusBooking/hooks/useCalendar.ts
  frontend/src/route/index.tsx
  frontend/src/route/loader/fixedRouteBooking/fixedRouteBookingLoader.ts
  frontend/src/utils/fixedBusBooking/getEarliestMonthUtils.ts
Labels: bug, frontend

#392 [FE] - 함께타기 달력 화면 버그 수정
  frontend/public/firebase-messaging-sw.js
  frontend/src/api/BusBooking/fixedBusBooking.ts
  frontend/src/api/query/fixedBusBooking/index.ts
  frontend/src/api/query/fixedBusSelect/index.ts
  frontend/src/pages/Auth/Components/Dropdown/index.tsx
  frontend/src/pages/Auth/Components/Dropdown/styles.ts
  frontend/src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  frontend/src/pages/BusBooking/FixedRouteBooking/page.tsx
  frontend/src/pages/BusBooking/hooks/useCalendar.ts
  frontend/src/route/index.tsx
  frontend/src/route/loader/fixedRouteBooking/fixedRouteBookingLoader.ts
  frontend/src/utils/fixedBusBooking/getEarliestMonthUtils.ts
Labels: bug, frontend

#394 design: 선택한 일정 클릭 영역을 아이콘에서 전체 button으로 확장
  frontend/src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  frontend/src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/styles.ts
Labels: bug, frontend, fix

#395 [FE] - 선택한 일정 수정 모달 영역 수정 : 클릭영역을 아이콘 부분만 => 버튼 전체로 확장
  frontend/src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/index.tsx
  frontend/src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/styles.ts
Labels: bug, frontend

#403 fix: 버그 수정
  frontend/src/constants/signupTexts.ts
  frontend/src/pages/BusBooking/CustomRouteBooking/components/CalendarView/index.tsx
  frontend/src/pages/BusBooking/CustomRouteBooking/components/TimeViewBottomModal/styles.ts
  frontend/src/pages/BusBooking/FixedRouteBooking/Components/FixedBookingCalendarView/index.tsx
  frontend/src/pages/BusBooking/FixedRouteBooking/page.tsx
  frontend/src/pages/BusBooking/hooks/useCalendar.ts
  frontend/src/utils/calendar/calendarUtils.ts
Labels: bug, frontend
